<template>
  <div>
   <NavBar />
   <br /> 
   <SideBar />

  </div>
</template>

<script>
import NavBar from  './navbar.vue';
import SideBar from './sidebar.vue';

export default {
  name: 'Header',
  components: {
    NavBar,
    SideBar
  }
}
</script>
