<template>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent" style="top: 0px; transition: all 0.5s linear 0s;">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-minimize d-inline">
            <button class="minimize-sidebar btn btn-link btn-just-icon" rel="tooltip" data-original-title="Sidebar toggle" data-placement="right">
              <i class="tim-icons icon-align-center visible-on-sidebar-regular"></i>
              <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini"></i>
            </button>
          </div>
          <div class="navbar-toggle d-inline">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="navbar-nav ml-auto">
            <li class="search-bar input-group">
              <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split"></i>
                <span class="d-lg-none d-md-block">Search</span>
              </button>
            </li>
            <li class="dropdown nav-item">
              <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <div class="notification d-none d-lg-block d-xl-block"></div>
                <i class="tim-icons icon-sound-wave"></i>
                <p class="d-lg-none">
                  Notifications
                </p>
              </a>
              <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                <li class="nav-link">
                  <a href="#" class="nav-item dropdown-item">Mike John responded to your email</a>
                </li>
                <li class="nav-link">
                  <a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a>
                </li>
                <li class="nav-link">
                  <a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a>
                </li>
                <li class="nav-link">
                  <a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a>
                </li>
                <li class="nav-link">
                  <a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a>
                </li>
              </ul>
            </li>
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <div class="photo">
                  <img src="http://i.pravatar.cc/200" alt="Profile Photo">
                </div>
                <b class="caret d-none d-lg-block d-xl-block"></b>
                </a><p class="d-lg-none"><a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  </a><a href="https://black-dashboard-pro-laravel.creative-tim.com/logout" onclick="event.preventDefault();document.getElementById('logout-form').submit();">Log out</a>
                </p>

              <ul class="dropdown-menu dropdown-navbar">
                <li class="nav-link">
                  <a href="https://black-dashboard-pro-laravel.creative-tim.com/profile" class="nav-item dropdown-item">Profile</a>
                </li>
                <li class="nav-link">
                  <a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a>
                </li>
                <li class="dropdown-divider"></li>
                <li class="nav-link">
                  <a href="https://black-dashboard-pro-laravel.creative-tim.com/logout" class="nav-item dropdown-item" onclick="event.preventDefault();document.getElementById('logout-form').submit();">Log out</a>
                </li>
              </ul>
            </li>
            <li class="separator d-lg-none"></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'NavBar',
  methods: {
    toogleSideBar() {
      // when click toogle the sidebar
    }
  }
}
</script>
