<template>
  <div>
    <div class="sidebar" data="red">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
-->
  <div class="sidebar-wrapper">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
          CT
        </a>
        <a href="#" class="simple-text logo-normal">
          Meraki Wi-fi
        </a>
    </div>
    <ul class="nav">
      <li class=" active">
        <a href="">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p><nuxt-link to='/dashboard'></nuxt-link>Dashboard</p>
        </a>
      </li>
      <li class=" active">
        <a data-toggle="collapse" href="#laravelExamples" aria-expanded="false" class="collapsed">
          <i class="fab fa-laravel"></i>
          <p>
            Laravel Examples
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="laravelExamples" style="">
          <ul class="nav">
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/profile">
                <span class="sidebar-mini-icon">UP</span>
                <span class="sidebar-normal"> User profile </span>
              </a>
            </li>
                        <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/role">
                <span class="sidebar-mini-icon">RM</span>
                <span class="sidebar-normal"> Role Management </span>
              </a>
            </li>
                                    <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/user">
                <span class="sidebar-mini-icon">UM</span>
                <span class="sidebar-normal"> User Management </span>
              </a>
            </li>
                                    <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/category">
                <span class="sidebar-mini-icon">CM</span>
                <span class="sidebar-normal"> Category Management </span>
              </a>
            </li>
                                    <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/tag">
                <span class="sidebar-mini-icon">TM</span>
                <span class="sidebar-normal"> Tag Management </span>
              </a>
            </li>
                                      <li class="">
                <a href="https://black-dashboard-pro-laravel.creative-tim.com/item">
                  <span class="sidebar-mini-icon">IM</span>
                  <span class="sidebar-normal"> Item Management </span>
                </a>
              </li>
                      </ul>
        </div>
      </li>
      <li class="">
        <a data-toggle="collapse" href="#pagesExamples">
          <i class="tim-icons icon-image-02"></i>
          <p>
            Pages
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse " id="pagesExamples">
          <ul class="nav">
            <li>
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/pricing">
                <span class="sidebar-mini-icon">P</span>
                <span class="sidebar-normal"> Pricing </span>
              </a>
            </li>
            <li>
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/rtl-support">
                <span class="sidebar-mini-icon">RS</span>
                <span class="sidebar-normal"> RTL Support </span>
              </a>
            </li>
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/timeline">
                <span class="sidebar-mini-icon">T</span>
                <span class="sidebar-normal"> Timeline </span>
              </a>
            </li>
            <li>
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/lock">
                <span class="sidebar-mini-icon">LS</span>
                <span class="sidebar-normal"> Lock Screen </span>
              </a>
            </li>
            <li>
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/profile">
                <span class="sidebar-mini-icon">UP</span>
                <span class="sidebar-normal"> User Profile </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="">
        <a data-toggle="collapse" href="#componentsExamples">
          <i class="tim-icons icon-molecule-40"></i>
          <p>
            Components
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse " id="componentsExamples">
          <ul class="nav">
            <li>
              <a data-toggle="collapse" aria-expanded="false" href="#multicollapse">
                <span class="sidebar-mini-icon">MLT</span>
                <span class="sidebar-normal"> Multi Level Collapse
                  <b class="caret"></b>
                </span>
              </a>
              <div class="collapse" id="multicollapse">
                <ul class="nav">
                  <li>
                    <a>
                      <span class="sidebar-mini-icon">E</span>
                      <span class="sidebar-normal"> Example </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/buttons">
                <span class="sidebar-mini-icon">B</span>
                <span class="sidebar-normal"> Buttons </span>
              </a>
            </li>
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/grid-system">
                <span class="sidebar-mini-icon">G</span>
                <span class="sidebar-normal"> Grid System </span>
              </a>
            </li>
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/panels">
                <span class="sidebar-mini-icon">P</span>
                <span class="sidebar-normal"> Panels </span>
              </a>
            </li>
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/sweet-alert">
                <span class="sidebar-mini-icon">SA</span>
                <span class="sidebar-normal"> Sweet Alert </span>
              </a>
            </li>
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/notifications">
                <span class="sidebar-mini-icon">N</span>
                <span class="sidebar-normal"> Notifications </span>
              </a>
            </li>
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/icons">
                <span class="sidebar-mini-icon">I</span>
                <span class="sidebar-normal"> Icons </span>
              </a>
            </li>
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/typography">
                <span class="sidebar-mini-icon">T</span>
                <span class="sidebar-normal"> Typography </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="">
        <a data-toggle="collapse" href="#formsExamples">
          <i class="tim-icons icon-notes"></i>
          <p>
            Forms
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse " id="formsExamples">
          <ul class="nav">
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/regular-form">
                <span class="sidebar-mini-icon">RF</span>
                <span class="sidebar-normal"> Regular Forms </span>
              </a>
            </li>
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/extended-form">
                <span class="sidebar-mini-icon">EF</span>
                <span class="sidebar-normal"> Extended Forms </span>
              </a>
            </li>
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/validation-form">
                <span class="sidebar-mini-icon">V</span>
                <span class="sidebar-normal"> Validation Forms </span>
              </a>
            </li>
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/wizard-form">
                <span class="sidebar-mini-icon">W</span>
                <span class="sidebar-normal"> Wizard </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="">
        <a data-toggle="collapse" href="#tablesExamples">
          <i class="tim-icons icon-puzzle-10"></i>
          <p>
            Tables
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse " id="tablesExamples">
          <ul class="nav">
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/regular-tables">
                <span class="sidebar-mini-icon">RT</span>
                <span class="sidebar-normal"> Regular Tables </span>
              </a>
            </li>
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/extended-tables">
                <span class="sidebar-mini-icon">ET</span>
                <span class="sidebar-normal"> Extended Tables </span>
              </a>
            </li>
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/datatable-tables">
                <span class="sidebar-mini-icon">DT</span>
                <span class="sidebar-normal"> DataTables.net </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="">
        <a data-toggle="collapse" href="#mapsExamples">
          <i class="tim-icons icon-pin"></i>
          <p>
            Maps
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse " id="mapsExamples">
          <ul class="nav">
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/google-maps">
                <span class="sidebar-mini-icon">GM</span>
                <span class="sidebar-normal"> Google Maps </span>
              </a>
            </li>
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/fullscreen-maps">
                <span class="sidebar-mini-icon">FM</span>
                <span class="sidebar-normal"> Full Screen Map </span>
              </a>
            </li>
            <li class="">
              <a href="https://black-dashboard-pro-laravel.creative-tim.com/vector-maps">
                <span class="sidebar-mini-icon">VM</span>
                <span class="sidebar-normal"> Vector Map </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="">
        <a href="https://black-dashboard-pro-laravel.creative-tim.com/widgets">
          <i class="tim-icons icon-settings"></i>
          <p>Widgets</p>
        </a>
      </li>
      <li class="">
        <a href="https://black-dashboard-pro-laravel.creative-tim.com/charts">
          <i class="tim-icons icon-chart-bar-32"></i>
          <p>Charts</p>
        </a>
      </li>
      <li class="">
        <a href="https://black-dashboard-pro-laravel.creative-tim.com/calendar">
          <i class="tim-icons icon-time-alarm"></i>
          <p>Calendar</p>
        </a>
      </li>
    </ul>
  </div>
</div>
  </div>
</template>


<script>
export default {
  name: 'SideBar'
}
</script>
