<template>
  <div>
    <Header />
    <div>
      <PerformanceComponent />
    </div>
  </div>


</template>

<script>
import Header from '../layouts/header.vue';
import PerformanceComponent from '../components/Performance.vue';

export default {
components: {
  Header,
  PerformanceComponent
},
head: {
  title: 'Dashbaord',
},
  data() {
    return {
      page : 'Dashboard'
    }
  }

}
</script>

