<template>
  <div class="container">
     <form id="loginForm" action="#">
        <center><a href="http://developers.meraki.com"><img src="https://raw.githubusercontent.com/meraki/js-splash/master/public/img/meraki-logo.png" width="50%"/></a></center>
        <br>
        <fieldset>
          <input id="name" placeholder="Your name" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
          <input id="email"  placeholder="Your Email Address" type="email" tabindex="2" required>
        </fieldset>
        <fieldset>
          <input id="company" placeholder="Your Company (optional)" type="text" tabindex="3">
        </fieldset>
        <fieldset>
          <button @click="submitData" type="submit" >Log in to WiFi</button>
        </fieldset>
        <p class="copyright"> powered by<a href="https://www.nxo.eu/" target="_blank" title="Internet of LEGO"> NXO</a></p>
      </form>
    </div>
</template>

<script>
export default {
  data() {
    return {
      // return data here
    }
  },
  methods: {
    submitData() {
      alert('Button clicked')
    }
  },
  mounted() {
    console.log(`index page mounted`)
  },


}
</script>
